POSTGRES_DB=roomly
POSTGRES_USER=roomly
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5432
JWT_SECRET=change-this-jwt-secret
ACCESS_TOKEN_LIFETIME=15m
REFRESH_TOKEN_LIFETIME=30d
EMAIL_VERIFICATION_CODE_LIFETIME=15m
PASSWORD_RESET_CODE_LIFETIME=30m
VERIFICATION_RESEND_COOLDOWN=1m
LOGIN_MAX_FAILED_ATTEMPTS=5
LOGIN_LOCK_DURATION=15m
FRONTEND_VERIFICATION_URL=
AUTH_DEV_EXPOSE_CODES=true
